/** 
	GENERAL
**/

* {
	/**outline: solid black 1px;**/
	margin: 0;
	padding: 0;
	font-family: Exo, sans-serif;
    
}

nav {
	padding: 5px 0;
	border-bottom: solid black 3px;
	width: 100%;
	color: black;
	text-align: center;	
	font-family: Exo, sans-serif;
/**	position: fixed;
	top: 0; **/
}

nav a {
	padding: 0 20px;
	margin: 0;
	color: black;
	text-decoration: none;
}

a, u {
    text-decoration: none;
}

/** 
	INDEX PAGE 
**/

.index{
	font-family: Exo, sans-serif;
}

img.index {
	  border: 5px solid black;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 75%;
}

#logo-flex-container{
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	text-align: center;
}

.logo {
	float: center;
	padding: 6px;
	margin: 5px;
}

.logo img {
	border: solid black 3px;
	padding: 3px;
}

.ostrich-logo img {
	background: #ED1B24;	
}

/** 
	OSTRICH PAGE 
**/


#audio-ostrich-container{
	position: absolute;
}

img.ostrich {
	  border: 5px solid black;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 75%;
}

body.ostrich {
	background-color: #ED1B24;
	padding-bottom: 25px;
}

body.ostrich h1  {
	text-align: center;
	font-family: Exo, sans-serif;
	font-weight: bolder;	
}

/* Slideshow container */
.slideshow-container {
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
	max-width: 100%;
	max-height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /*(margin-top: -22px;*/
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 500%;
  /*transition: 0.6s ease;*/
  padding: 2.5%;
 /* background-color: blue;*/
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
} 

#egg-audio-icon {
	width: 30px;
	border: none;
	margin: 1% 0 0 5%;
	float: left;
}

#egg-audio-icon:hover {
	cursor: pointer;
}

.trackers {
  text-align:center;
  margin: 1% 5%;
}

 
  /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 2em;
  width: 2em;
  margin: 10x 2px;
  background-color: #ED1B24;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid black;
  font-family: Verdana;
  font-size: .75em;

    /*transition: background-color 0.6s ease;*/
}

.page-number {
  vertical-align: middle;
  padding-top: 5px;
}

.active, .dot:hover {
  background-color: #d51820;  
}

#audio-ostrich-container {
	margin: 0;
}

#audio-ostrich {
	display: none;
	margin: 0 auto;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/** 
	GARAGE  
**/

h1.garage {
	padding-top: 15px;
}

#garage-note {
	padding-top: 10px;
}

img.garage-page {
	  border: 1px solid white;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
}

img.garage-page {
	width: 75%;
}

.garage-header, #garage-note {
	text-align: center;
	margin: 0 auto 25px;
}

html.garage {
	background-color: black;
}

.garage {
	background-color: black;
	color: white;
}

nav.garage {
	border-bottom: solid white 3px;
}

nav.garage a {
	color: #ffffff;
}

.mapped-artefact:hover {
	cursor: pointer;
}

#garage-pages-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.garage-page-link {
	width: 45%;
	margin: 20px 0;
}

.garage-page-link-horizontal {
	width: 90%;
	margin: 20px 0;
}

/**
	GARAGE INDIVUDAL PAGES
**/

#garage-page-container {
	width: 1027px;
	margin: 10px auto 35px;
	padding-bottom: 585px;
	
}


.garage-page-back {
	color: white;
	font-family: Verdana;
	font-size: 25px;
	font-weight: bolder;
	padding: 5px 0 0 10px; 
	display: inline-block;
	text-decoration: none;
}

.garage-page-back:hover {
	color: red;
}

img.garage-page-big {
	height: 576px;
	margin-left: 300px;
	position: absolute;
}


.garage-page-big{
	border: solid white 1px;
}

p.explanation {
	padding: 1em;
	display: none;
}

#explanation-initial {
	text-align: center;
	display: block;
}

#explanation-box {
	width: 300px;
	border: dashed 1px white;
	overflow-y: auto;
	float: left;
	position: absolute;
	height: 576px
}

/**

#explanation-box {
	height: 10em;
	margin: 5px 20px 50px;
	border: solid 2px white;
	overflow-y: auto;	
}

**/

#copyright {
	text-align: center;
}

/**
	ORIGINATOR
**/

img.originator{
	  border: 5px solid red;
	  display: block;
	  margin: 50px auto 15px;
	  width: 320px;
}

h3.originator {
	text-align: center;
}

/**
	ILLUSTRATOR
**/

img.illustrator{
	  border: 5px solid black;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
}

h1.illustrator {
	margin-top: 50px;
}

#liza-portrait {
	width: 320px;
	margin: 50px auto 15px;
	}
	
h3.illustrator {
	text-align: center;
}
/**
	POSTERS
**/

.posters {
	background-color: #f53db5;
}
#posters-h1 {
	padding: 25px 0;
}

#posters-flex-container {
	width: auto%;
	margin: 0 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; 
}

.poster {
	display: inline-block;
	height: 400px;
	width: auto;
	margin: 10px 20px;
	border: solid black 2px;
}

/** 
	CONTACT
**/

body.contact {
	background: black;
	color: white;
}

h1.contact {
	margin-top: 15px;
	margin-top: 15px;
}

nav.contact {
	background: white;
}

label {
	color: white;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=button] {
    background-color: black	;
    color: white;
    padding: 12px 20px;
    border: solid 2px white;
    border-radius: 4px;
    cursor: pointer;
	font-style: bold;
}

input[type=button]:hover {
	border-color: #ED1B24;
	color: #ed1b24;
}

.contact-container {
    border-radius: 5px;
    padding: 20px 15%;
	
}

/**
	CONTACT RESPONSE
**/

#contact-message {
	width: 90%;
	margin: 50px auto;
	text-align: center;

}


#contact-garbage {
	display: block;
	width: 250px;
	margin: 50px auto;
	}

